{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <!-- img-fluid makes image responsive-->
            <!-- ref: https://getbootstrap.com/docs/5.1/content/images/-->
            <img src="/static/images/villas.png" class="img-fluid img-thumbnail rounded mx-auto d-block room-image"
                alt="villas image">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- mt stands for margin from top-->
            <h1 class="text-center mt-4">Aisa Fort Villas</h1>
            <p>
                Your home away from home and incredible place to stay
                Your home away from home and incredible place to stay
                Your home away from home and incredible place to stay
                Your home away from home and incredible place to stay
                Your home away from home and incredible place to stay
                Your home away from home and incredible place to stay
                Your home away from home and incredible place to stay
                Your home away from home and incredible place to stay
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <!-- <button type="button" class="btn btn-success">Make Reservation Now</button> -->
            <!-- #! means hash bang which means don't do anything -->
            <a href="#!" id="check-availability-button" class="btn btn-success">Check Availability</a>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}

<script>
    document.getElementById("check-availability-button").addEventListener("click", function () {

        let html = `
            <form id="check-availability-form" action="" method="POST" novalidate class="needs-validation search-form">
                <div class="row">
                <div class="col">
                    <div class="row" id="reservation-date-modal">
                        <div class="col d-line p-4 shadow-none">
                        <input disabled required type="text" class="form-control" name="start" id="start" placeholder="Arrival">
                        </div>
                        <div class="col d-line p-4 shadow-none">
                        <input disabled required type="text" class="form-control" name="end" id="end" placeholder="Departure">
                        </div>
                    </div>
                </div>
                </div>
            </form>
        `
        attention.custom({
            msg: html,
            title: "Choose your dates",

            // this will open the calender for the pop-up when clicked on the button. using `disabled` in input tag to undo this.
            willOpen: () => {
                const elem = document.getElementById('reservation-date-modal')
                const rp = new DateRangePicker(elem, {
                    format: "yyyy-mm-dd",
                    showOnFocus: true,
                    minDate: new Date(),
                })
            },

            didOpen: () => {
                document.getElementById('start').removeAttribute("disabled");
                document.getElementById('end').removeAttribute("disabled");
            },

            callback: function(result){
                console.log("called");

                let form = document.getElementById("check-availability-form");
                    let formData = new FormData(form);
                    formData.append("csrf_token", "{{.CSRFToken}}");
                    formData.append("room_id", "1");

                    fetch('/search-availability-json', {
                        method: "post",
                        body: formData,
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.ok) {
                            attention.custom({
                                icon: "success",
                                // redirecting rooms reservation to next page when the user clicks on "room is available popup"

                                msg: '<p> Room is available </p>'
                                    + '<p><a href="/book-room?id='
                                    + data.room_id
                                    + '&s='
                                    + data.start_date
                                    + '&e='
                                    + data.end_date    
                                    + '" class="btn btn-primary">'
                                    + 'Book Now !</a></p>',
                                showConfirmButton: false,
                            })
                        } else {
                            attention.error({
                                msg: "no room is available !!",
                            });
                        }                        
                    })
            },

        });

    })
</script>
{{end}}